.button {
  display: inline-block;
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: var(--font-size-base);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-button);
  border: none;
  border-radius: var(--radius-small);
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--color-button-hover);
  }

  &:focus,
  &:focus-visible {
    outline: 2px solid var(--color-accent-hover);
    outline-offset: var(--outline-offset);
    background: var(--color-button-hover);
  }
}
