:root {
  /* background colors*/
   --color-background: #000000;
   --color-background-secondary: #ffffff;

   /* text colors*/
    --color-text: #ffffff; 
    --color-text-secondary: #000000;
    
    /* header and footer colors*/
    --color-header-background: #164B39;
    --color-header-text: #ffffff;

    /* Button colors*/
    --color-button: #164B39;
    --color-button-hover: #d8995edc;
    --color-button-accent: #dbbfa4; 
    --color-button-home: #DC7726;
    --color-button-home-hover: #4A545D;
    ; 
  
    /* Spacing Variables */
    --spacing-small: 12px;
    --spacing-medium: 20px;
    --spacing-large: 25px;
    --spacing-layout: 80px;
    
    --header-height: 100px;
    --footer-height: 200px;
  
    /* Readability */
    --line-height-base: 1.6;
    --paragraph-spacing: 1.2em;
    --list-spacing: 6px;

    /* Font styling */
    --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    /* Font sizes */
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.5rem;
    --font-size-h4: 1.25rem;
    --font-size-h5: 1rem;
    --font-size-h6: 0.875rem;
    --font-size-base: 1rem;
    --font-size-large: 20px;
    --font-size-logo: 35px;
    
    /* hover*/
    --color-accent: #164B39;
    --color-accent-hover: #d8995edc;
  }