.notFound {
  text-align: center;
  padding: var(--spacing-xlarge);
  background: var(--color-background);
  color: var(--color-header-background);
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 2.5rem;
    margin-bottom: var(--spacing-large);
    color: var(--color-header-background);
  }

  p {
    font-size: var(--font-size-large);
    margin-bottom: var(--spacing-large);
    color: var(--color-text);
  }
}

.homeLink {
  color: var(--color-button-home);
  font-weight: bold;
  text-decoration: underline;
  font-size: var(--font-size-large);
  padding: var(--spacing-large);
  border-radius: 4px;
  transition:
    background 0.2s,
    color 0.2s;

  &:hover,
  &:focus {
    background: var(--color-button-home-hover);
    color: var(--color-primary);
    text-decoration: none;
  }
}
