.layoutTop{
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 100px; /* Custom column widths */
    grid-template-rows: 850px 440px 400px;         /* Two rows, first is taller */     /* Space between grid items */
    width: 100vw;                          /* Take full viewport width */
    max-width: 100vw;                      /* Prevent overflow */
    margin: 0;                             /* Remove default margin */
    box-sizing: border-box;  
    gap: var(--spacing-large);  
    margin-bottom: var(--spacing-layout);
    color: var(--color-text); 
    background-color: var(--color-background);                  
}

.layoutBottom {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 100px; /* Custom column widths */
    grid-template-rows: 600px 400px 400px 850px;         /* Two rows, first is taller */     /* Space between grid items */
    width: 100vw;                          /* Take full viewport width */
    max-width: 100vw;                      /* Prevent overflow */
    margin: 0;                             /* Remove default margin */
    box-sizing: border-box;  
    gap: var(--spacing-large);
    color: var(--color-text-secondary); 
    background-color: var(--color-background-secondary);
}
.banner {
    grid-column: 1 / 6; /* Spans columns 1 and 2 */
    grid-row: 1 / 2;
    background-color: var(--color-background-secondary);
    color: var(--color-text-secondary);
    margin: 0;
}


.me,
.time,
.weather,
.cv,
.skills,
.work,
.contact,
.softSkills,
.technicalSkills {
    overflow: hidden;
    min-width: 0;
    min-height: 0;
    box-sizing: border-box;
    word-break: break-word;
    padding: var(--spacing-medium);
    border-radius: 20px;
}

.me, .technicalSkills {
    margin-top: var(--spacing-layout);
}

.me {
    grid-column: 2 / 4; /* Spans columns 3 and 4 */
    grid-row: 2 / 3;
}

.technicalSkills {
    grid-column: 4 / 5; /* Third column */
    grid-row: 2 / 4;    /* Second row */
    text-align: center;
}

.softSkills {
    grid-column: 3 / 4; /* Third column */
    grid-row: 3 / 4;    /* Second row */
    text-align: center;
}

.weather {
    grid-column: 2 / 3; /* First column */
    grid-row: 3 / 4;    /* Second row */
    text-align: center;
}

.work {
    grid-column: 2 / 5; /* Fourth column */
    grid-row: 1 / 2;    /* Second row */
}

.cv {
    grid-column: 2 / 5; /* Second column */
    grid-row: 2 / 3;    /* Second row */
}

.time {
    grid-column: 2 / 5; /* First column */
    grid-row: 3 / 4;    /* Second row */
}

.contact {
    grid-column: 2 / 5; /* Spans columns 1 and 2 */
    grid-row: 4 / 5;    /* Third row */
}


@media (max-width: 900px) {
  .layout {
    grid-template-rows: 1000px 600px 600px 1000px;
  }
}

@media (max-width: 600px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, minmax(400px, auto));
  }
  .banner,
  .me,
  .timeWeather,
  .cv,
  .technicalSkills,
  .softSkills,
  .work,
  .contact {
    grid-column: 1 / 2;
    grid-row: auto;
  }
}
