.button {
    display: inline-block; 
    padding: 10px 20px;
    font-size: var(--font-size-medium);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: var(--color-button);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--color-button-hover);
    }

    &:focus,
    &:focus-visible {
      outline: 2px solid var(--color-accent-hover);
      outline-offset: 2px;
      background: var(--color-button-hover);
    }
  }
